<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.fullName %></td>
                    <td><%= user.email %></td>
                    <td><%= user.role %></td>
                    <td>
                        <% if (user.role != "admin") { %>
                            <form action="/admin/list-user/<%= user._id %>/block-unblock" method="post">
                                <button type="submit">
                                    <%= user.isBlocked ? "Unblock" : "Block" %>
                                </button>
                            </form>
                        <% } else { %>
                            ADMIN
                        <% } %>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <a href="/admin/dashboard">Go To Dashboard</a>
</body>
</html>
